@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0px;
  display:flex;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 90px;
  margin-right: 90px;
  justify-content: space-between;
  
}

.profile-card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  text-align: left;
}

.profile-card img {
  width: 250px;
  border-radius: 50%;
}

.profile-card .name {
  font-size: 50px;
  font-weight: bold;
}

.profile-card .description {
  margin: 10px 0;
  font-size: 20px;
}

.profile-card .download-resume {
  display: inline-block;
  background-color: #ffab35;
  color: #ffffff;
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.work {
background-color: #ffffff;
padding: 20px;
border-radius: 15px;
}

.recent-posts .work {
  margin-left: 90px;
  margin-right: 90px;
}

.recent-posts .work h4 {
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.recent-posts .work p {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.recent-posts {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff4e7;
}

.recent-posts h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 90px;
  margin-right: 90px;

}

.recent-posts .post {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  
}

.recent-posts .post h4 {
  margin: 0;
}

.recent-posts .post p {
  margin-left: 90px;
  margin-right: 90px;
}

.card {
  padding: 20px 50px;
  border-radius: 20px;
  margin: 20px;
  background-color: white;
  text-align: center;
  width: 100%;
}

.card img {
  height: 50px;
}

#cardParent {
  display: flex;
  justify-content: space-between;
  background-color: rgb(211, 255, 240);
}